<!DOCTYPE html>
<html lang={% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}>
{% block head %}
<meta charset=utf-8>
<meta name=viewport content="initial-scale=1,minimum-scale=1,width=device-width">
<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/technica/styles.css" />
{% endblock head %}
<body class="paper center">
{% block body %}
  <header><h1>{{ SITENAME }}</h1></header>
{% block content %}{% endblock %}
{% endblock body %}
<footer class="cluster">
    &copy; cjtapper 2025. All rights reserved. Made in Australia.
    <div class="cluster compact ml-auto">
      {% if DEV %}
        <div class="chip warning">DEV</div>
      {% else %}
        <div class="chip primary">PROD</div>
      {% endif %}
      <div class="chip">{{ VERSION  }}</div>
    </div>
</footer>
</body>
