<!DOCTYPE html>
<html lang={% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}>
{% block head %}
<meta charset=utf-8>
<meta name=viewport content="initial-scale=1,minimum-scale=1,width=device-width">
<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/technica/styles.css" />
{% endblock head %}
<body class="center bg-white border-1 p-1 bs my-2">
{% block body %}
  <header><h1>{{ SITENAME }}</h1></header>
{% block content %}{% endblock %}
{% endblock body %}
<hr class="solid">
<footer class="cluster jc-between">
    &copy; cjtapper 202X. Meticulously crafted in the Shoalhaven.
    <div class="cluster compact">
      {% if DEV %}
        <div class="chip warning">DEV</div>
      {% else %}
        <div class="chip success">PROD</div>
      {% endif %}
      <div class="chip">{{ VERSION  }}</div>
    </div>
</footer>
</body>
